{% extends '::base.html.twig' %}

{% block title %}اتفاق جديد{% endblock %}

{% block header %}اتفاق جديد{% endblock %}

{% block body -%}
    {{ form(form) }}

    <ul class="record_actions">
    <li>
        <a href="{{ path('deal') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}